body {
  text-align: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: max(2vh, 2vw);
  line-height: 1.5;
  color: #333;
  animation: bg 8s ease-out infinite;
}
h1 {
	margin: 50px 0 10px;
	padding: 0;
	font-size: inherit;
}
p {
  margin: 0;
  padding: 0 0 30px;
  font-size: inherit;
  font-family: inherit;
  border-bottom: 2px solid rgba(207, 190, 2, 0.6);
}
main {
  display: inline-block;
}
.circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
}
.circle:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #c75d38;
}
.circle:before {
  content: "";
  position: absolute;
  top: calc(-25vh + 4px);
  left: calc(-25vh + 4px);
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  background: rgba(199,93,56,.5);
  animation: circle 8s ease-out infinite;
}
@keyframes circle {
  0% { opacity:1; transform:scale(0.2)}
  to { opacity:0; transform:scale(1.8)}
}
@keyframes bg {
  0% { background: rgba(207, 190, 2, 0.1);}
  15% { background: rgba(207, 190, 2, 0.3);}
  35% { background: rgba(207, 190, 2, 0.6);}
  65% { background: rgba(207, 190, 2, 0.6);}
  85% { background: rgba(207, 190, 2, 0.3);}
  100% { background: rgba(207, 190, 2, 0.1);}
}
